REACT_APP_GEMINI_API_KEY=AIzaSyCO77GJbCQM5fmc877iGUKhBKTWIaMy6zo
REACT_APP_OPENAI_API_KEY=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
REACT_APP_API_BASE_URL=http://localhost:7003
REACT_APP_OPENAI_URL=https://api.openai.com/v1/chat/completions
REACT_APP_GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent

